* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: calc(100% - 330px);
  margin: auto;
}
/*header*/
.header .row {
  justify-content: space-between;
}
.list ul {
  display: flex;
  gap: 40px;
}
.list a {
  color: #3a3845;
  font-size: 24px;
}

.icons ul {
  display: flex;
  gap: 24px;
}
.icons a {
  color: #595667;
}
.header {
  background-color: #ffff;
  padding: 32px;
}
.menu {
  display: none;
}
/* media query */

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .list {
    display: none;
  }
  .icon-hidden {
    display: none;
  }
  .container {
    width: calc(100% - 40px);
  }
  .menu {
    display: block;
  }
}

/*collections*/
.collections {
  padding: 40px 0;
}
.collection {
  text-align: center;
  width: calc((100% - 90px) / 4);
}
.collection img {
  width: 100%;
}
.collection h2 {
  margin: 24px;
  font-size: 24px;
}
.collections .row {
  gap: 30px;
}

/* media query */

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .collections {
    padding: 24px 0;
  }
  .collection {
    width: calc((100% - 30px) / 2);
  }
  .collection h2 {
    font-size: 24px;
  }
  .container {
    width: calc(100% - 80px);
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .collections {
    padding: 16px 0;
  }
  .collections .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 24px;
  }
  .collection {
    width: 300px;
    padding: 24px;
    scroll-snap-align: center;
  }
  .collection h2 {
    font-size: 24px;
  }
  .collection img {
    width: 300px;
    height: 300px;
  }
}
